/**
 * Site header
 */
.nav-trigger {
  display: none;
}

.site-header {
  position: relative;
}

.site-title {
  font-family: $skelet-font-family;
  font-size: $header-font-size;
  font-weight: $site-title-font-weight;
  margin-bottom: 0;
  padding: 12px 12px 12px 0;
  float: left;
  color: $brand-color;

  @include media-query($on-palm) {
    padding-right: $spacing-unit;
  }

  &:visited {
    color: $brand-color;
  }
}

.site-nav {
  position: absolute;
  top: $spacing-unit / 2.1;
  right: $spacing-unit / 2;
  background-color: $background-color;
  text-align: center;

  .menu-icon {
    float: left;
    width: 36px;
    height: 26px;
    line-height: 0;
    padding-top: 8px;
    text-align: center;

}

  label[for="nav-trigger"] {
    display: inline-block;
    float: right;
    line-height: $spacing-unit *1.05;
    height: 36px;
    cursor: pointer;

  }

    .page-link {
        display: none;
    }

  @media screen and (min-width: $on-medium) {
    position: static;
    display: inline-block;
    float: right;
    border: none;
    background-color: inherit;

    label[for="nav-trigger"] {
      display: none;
    }

    .menu-icon {
      display: none;
    }

    input ~ .trigger {
      display: block;
      border: none;
    }

    .page-link {
      display: inline-block;
      padding: 12px;
      margin-left: auto;
      color: $text-color;
      font-size: $header-font-size;
      line-height: $base-line-height;
      text-transform: lowercase;

    }
  }
}

.lang-selector-wrapper {
    display: inline-block;
    padding: 0;
    cursor: pointer;

    .page-link {
        padding: 10px 10px;
        width: $spacing-unit /2;
        line-height: $spacing-unit /2;
        border: thin solid #dedede;
        border-radius: 10%;

        &:hover {
            background-color: #f7f7f7;
        }
    }

    .lang-selector {
        display: none;
        color: $text-color;
        font-size: $header-font-size;
        line-height: $base-line-height;
        text-transform: lowercase;
        padding: 10px 10px 7px 10px;
        margin: 0;
        line-height: $spacing-unit /2;
        border: thin solid #dedede;
        border-radius: 10%;
        border-top: none;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    &:hover {
        .page-link {
            text-decoration: none;
            border-bottom: none;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }

        .lang-selector {
            display: block;
            position: absolute;
            width: $spacing-unit /2;

            &:hover {
                background-color: #f7f7f7;
            }

            .lang-alt{
                text-decoration: none;

                &:visited {
                    color: $text-color;
                }
            }
        }
    }
}

.mobile-menu {
    display: none;
}

@media screen and (max-width: $on-palm) {
    .site-header {
        position: fixed;
        width: 100%;
        background-color: $background-color;
    }

    .page-content {
        margin-top: 69px;
    }

    input:checked ~ .mobile-menu {
        display: block;
        width: 100%;
        margin-top: 69px;
        padding: 25% 0;
        background-color: $background-color;
        position: fixed;
        z-index: 1;
        overflow-x: hidden;
        //overflow-y: hidden;
        height: 100%;
        }

        .page-link, .lang-selector-wrapper {
            display: flex;
            justify-content: center;

            &:hover {
                border-bottom-width: 1px;
                border-bottom-left-radius: 10%;
                border-bottom-right-radius: 10%;
            }

            .lang-selector {
              border-left: 1px;
              border-top-left-radius: 10%;
              border-top-right-radius: 10%;

            }
        }

        .page-link {

            text-decoration: none;
            margin-bottom: $spacing-unit;
            color: $text-color;
            text-transform: lowercase;

            &:visited {
                color: $text-color;
            }

        }

}

input ~ .site-header .wrapper .site-nav label {

    .menu-lines {
        display: inline-block;
        fill: $text-color;
    }

    .menu-x {
        display: none;
    }

    .menu-open {
        display: inline-block;
        text-transform: lowercase;
        font-size: $header-font-size;
    }
    .menu-close {
        display: none;
    }
}

input:checked ~ .site-header .wrapper .site-nav label {

    .menu-lines {
        display: none;
    }

    .menu-x {
        display: inline-block;
        fill: $text-color;
    }

    .menu-open {
        display: none;
    }
    .menu-close {
        display: inline-block;
        padding-right: 5px;
        text-transform: lowercase;
        font-size: $header-font-size;
    }
}

input ~ .site-header .wrapper .site-nav .trigger {
  clear: both;
  display: none;
  border: 1px solid #e8e8e8;
  border-radius: 5px;

}

input:checked ~ .site-header .wrapper .site-nav .trigger {
  display: block;
  width: 100%;
  padding-bottom: 5px;

}


/**
 * Site footer
 */
.site-footer {
  padding: 10px 0;
  text-align: center;
  font-family: $skelet-font-family;
  font-size: $copyright-font-size;
  color: #666666;
  margin-top: $spacing-unit;

  p {
      padding: 12px 0;
      margin-bottom: 0;
  }

}


/**
 * Page content
 */
.page-content {
  padding: 60px 5% 0 5%;
  flex: 1 0 auto;
  margin-bottom: $spacing-unit * 0.75;
}

/**
 * Blog, Category, Related Posts
 */

.blog-page-lists {
    h3 {
        margin-top: $spacing-unit * 1.75;

        &:first-child {
            margin-top: $spacing-unit;
        }
    }
}

.post-list {
  margin-left: 0;
  list-style: none;
  clear: both;
  font-family: lato, sans-serif;
  color: #666;
  font-size: $medium-font-size;
  margin-bottom: $spacing-unit;

  > li {
    margin-bottom: $spacing-unit / 2;
  }
}

.post-meta {
  font-family: lato, sans-serif;
  font-size: 0.7rem;
  color: #999;
}

.post-link {
  display: inline;
}

.category-archive-link {
    font-size: $medium-font-size;

    > p {
        margin-bottom: 0;
    }
}

/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit * 1.5;

  .post-meta {
      @media screen and (min-width: $on-large) {
          text-align: center;
      }
  }
}

.post-title {
  margin-bottom: 5px;
  font-size: 2rem;
  line-height: 1.25;

  @media screen and (min-width: $on-large) {
    text-align: center;
  }
}

.post-content {
  //margin-bottom: $spacing-unit * 0.75;

  p:last-child {
      margin-bottom: 0;
  }

/*  h1, h2, h3 { margin-top: $spacing-unit * 2 }
  h4, h5, h6 { margin-top: $spacing-unit }*/

  h1 {
    @include relative-font-size(2);
    margin-bottom: $spacing-unit;
  }

  h2 {
    @include relative-font-size(1.75);

    @media screen and (min-width: $on-large) {
      @include relative-font-size(2);
    }
  }

  h3 {
    @include relative-font-size(1.375);

    @media screen and (min-width: $on-large) {
      @include relative-font-size(1.625);
    }
  }

  h4 {
    @include relative-font-size(1.25);
  }

  h5 {
    @include relative-font-size(1.125);
  }
  h6 {
    @include relative-font-size(1.0625);
  }
}



/**
 * Grid helpers
 */
@media screen and (min-width: $on-large) {
  .one-half {
    width: calc(50% - (#{$spacing-unit} / 2));
  }
}
