// Placeholder to allow overriding predefined variables smoothly.
$background-color: #fffff6;

$header-font-size: $base-font-size * 0.8;
$site-title-font-weight: 700;
$site-title-color: #282828;

$nav-font-size: $base-font-size * 0.6;
$header-items-line-height: 25px;
$headings-line-height: $base-font-size * 2.8;

$skelet-font-family: lato, sans-serif;
$copyright-font-size: $small-font-size * 0.75;

$highlight-color: #fed330;
$link-hover-color: #0074d9;
$text-color: #282828;
