---
layout: default
---

<div class="blog-page">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.visible-title }}</h1>
  {%- endif -%}

  {{ content }}
    <div class="blog-page-lists">
        {% assign sorted_category = site.category | where:"lang", page.lang | sort:"order" %}
        {%- for item in sorted_category -%}
            <h3>{{ item.title }}</h3>
            {%- include post-list-blog-page.html -%}
            <div class="category-archive-link">
                <p><a href="{{ item.permalink }}">
                    {{ site.data.translations.[page.lang].main-content.see-full-archive1 }}
                    {{ item.title }}
                    {{ site.data.translations.[page.lang].main-content.see-full-archive2 }}
                     »</a></p>
            </div>
        {%- endfor -%}
    </div>

</div>
