---
layout: default
---
<article class="post">

    {%- assign date_format = site.minima.date_format | default: "%b %d, %Y" -%}

    <h2 class="live-page-visible-title">{{ page.visible-title }}</h2>
    <p class="post-meta">Updated on
        <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
          {{ page.date | date: date_format }}
        </time>
    </p>
    <p class="page-description">{{ page.description }}</p>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

</article>
