---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  {%- include post-headline.html -%}

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>
  <div class ="posts-archive">
        <p>
            {%- if page.lang == "🇺🇸" -%}
                <a href="/blog">
            {%- else -%}
                <a href="/blog-br">
            {%- endif -%}
            {{ site.data.translations.[page.lang].main-content.see-all-posts }} »</a>
        </p>
  </div>

  {%- include backlinks.html -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
